<a href="/dashboard" aria-label="Back to dashboard">&larr; Back</a>

<div class="admin-title">
    <h2>View / Edit Post</h2>
    
    <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete this post?');">
        <input type="submit" value="Delete" class="btn-delete btn" aria-label="Delete post">
    </form>
</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST" enctype="multipart/form-data" onsubmit="submitEditorContent(event)">
    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>" id="title" required>

    <label for="body"><b>Content</b></label>
    <div id="editor"><%= data.body %></div>
    <textarea id="postBody" name="body" hidden required></textarea>

    <label for="postImage"><b>Upload New Image (optional)</b></label>
    <input type="file" name="postImage" id="postImage" accept="image/*">
    
    <input type="submit" value="Update" class="btn">
</form>

<script type="module">
  import { Editor } from '@tiptap/core'
  import StarterKit from '@tiptap/starter-kit'
  import TextAlign from '@tiptap/extension-text-align'
  import Image from '@tiptap/extension-image'
  import Link from '@tiptap/extension-link'
  import List from '@tiptap/extension-list'

  const editor = new Editor({
    element: document.querySelector('#editor'),
    extensions: [
      StarterKit,
      TextAlign.configure({
        types: ['heading', 'paragraph'],
      }),
      Image,
      Link,
      List
    ],
    content: document.querySelector('#editor').innerHTML,
  })

  function submitEditorContent(event) {
    event.preventDefault();
    const postBody = document.getElementById('postBody');
    postBody.value = editor.getHTML();
    event.target.submit();
  }
</script>