<div class="footer-wrapper">
  <footer class="footer">
    <div class="container footer-container">
      <div class="footer-contact">
        <a href="mailto:premedtalk@gmail.com" class="footer-email">premedtalk@gmail.com</a>
      </div>
      <div class="footer-address">
        <p>1280 Main St W, Hamilton, ON L8S 4L8</p>
      </div>
    </div>
  </footer>
</div>