<footer class="footer">
    <p>Designed and developed by <a href="https://www.premedtalk.com" target="_blank">Jun He Cui</a></p>
    <p>&copy; <%= new Date().getFullYear(); %> All rights reserved</p>
</footer>
