<div class="footer-wrapper">
  <footer class="footer">
    <div class="container footer-container">
      <div class="footer-contact">
        <p>123-456-7890</p>
        <p>info@premedtalk.com</p>
      </div>
      <div class="footer-address">
        <p>500 Terry Francine Street, 6th Floor, San Francisco, CA 94158</p>
      </div>
    </div>
  </footer>
</div>
