<header class="header">
  <a href="/" class="header__logo">
    <img src="/img/premedtalk-logo.png" alt="PreMedTalk Logo" style="width: auto; height: auto;">
  </a>  
  
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Home</a>
      </li>
      <li>
        <a href="/blog" class="<%= isActiveRoute('/blog', currentRoute) %>">Blog</a>
      </li>
    </ul>
  </nav>

  <div class="header__button">
    <form action="/search" method="POST" id="searchForm">
      <input type="text" name="searchTerm" placeholder="Search.." required>
    </form>
  </div>
</header>
