.authors-section-wrapper {
    animation: fadeInFromTop 1.5s ease-in-out 1.5s both;
}

.authors-section {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    margin-top: 25px;
    background-color: white;
    font-family: 'Avenir';
    border: 2px solid black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.authors-section:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.meet-the-authors h2 {
    font-family: 'Futura Medium 65', sans-serif;
    font-size: var(--font-size-xl);
    margin-bottom: 10px;
}

.underline {
    width: 50px;
    height: 4px;
    background-color: #333;
    margin: 10px auto 30px;
}

.authors-description {
    margin: 0 30%;
    margin-bottom: 40px;
    color: #666;
    font-size: var(--font-size-base);
    text-align: center;
    font-family: 'Cormorant Garamond', sans-serif;
    line-height: 150%;
}

.authors-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.author-card-wrapper {
    animation: fadeInFromTop 1.5s ease-in-out 1.5s both;
}

.author-card {
    flex: 1 1;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    background-color: #CFD9E5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 300px;
    text-align: left;
    border: 2px solid black;
    overflow: visible;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.author-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.author-photo {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    object-fit: cover;
}

.author-card h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Futura Medium 65', sans-serif;
    font-size: var(--font-size-lg);
    color: #1c1c1c;
}

.author-card p {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: var(--font-size-xs);
    color: #1c1c1c;
    line-height: 1.5;
    flex-grow: 1;
}

.author-role {
    font-size: var(--font-size-sm);
    color: #7E7E7E;
    margin: 10px 0;
}

.social-links {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    gap: 10px;
}

.btn-social {
    background-color: #007BFF;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: var(--font-size-sm);
}

@media (max-width: 1440px) {
    .authors-description {
        margin: 0 10%;
        margin-bottom: 20px;
    }

    .author-card h3 {
        font-size: var(--font-size-md)
    }
}

@media (max-width: 768px) {
    .authors-container {
        flex-direction: column;
        align-items: center;
    }

    .author-card {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .author-card h3 {
        font-size: var(--font-size-md);
    }
}