.blog-page .articles {
    display: flex;
    justify-content: center; /* Horizontally center the grid */
    align-items: flex-start; /* Align grid items to the top */
    background-color: #EBE9F8;
    padding: 20px;
    min-height: 100vh; /* Ensure full height for larger screens */
}

.blog-page .article-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
    max-width: 1200px; /* Limit the grid width */
    width: 100%; /* Allow the grid to scale */
    margin: 0 auto;
}

.blog-page .article-card {
    width: 100%; /* Full width for each card */
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: inherit;
    background-color: #C2D1E1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid black;
}

.blog-page .article__heading {
    margin-top: 4rem;
    text-align: center;
    margin: 35px;
    font-weight: 400;
    font-size: var(--font-size-xxxl);
    font-family: 'Futura Medium 65', sans-serif;
}

.blog-page .article-thumbnail {
    width: 40%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the area */
    display: block;
}

.blog-page .article-info {
    padding: 15px;
    background-color: transparent; /* Remove background color to match section */
    flex-grow: 1; /* Allow the text to take up the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-page .article-info h3 {
    margin-top: 0;
    color: var(--black);
    font-size: 1.1rem;
}

.blog-page .article-info p {
    font-size: var(--font-size-base);
    color: var (--gray);
    margin: 10px 0 0;
    line-height: 1.5; /* Adjust line height for better readability */
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-page .article-details {
    margin-top: 10px;
}

.blog-page .article-view-count {
    font-size: var(--font-size-sm);
    color: var(--gray);
}

/* Load More Button Styles */
.blog-page #load-more {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: var(--black);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

@media (max-width: 768px) {
    .blog-page .article-grid {
        grid-template-columns: 1fr; /* One column on smaller screens */
        margin: 35px 10px; /* Adjust margin to reduce horizontal spacing */
    }

    .blog-page .article-card {
        flex-direction: column; /* Stack image and text vertically */
    }

    .blog-page .article-thumbnail {
        width: 100%; /* Full width image */
        height: auto; /* Maintain aspect ratio */
    }
}