/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nimbus+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Font Face Definitions */
@font-face {
    font-family: 'Futura Medium 65';
    src: url('/fonts/FUTURA65MEDIUM.TTF') format('woff2'), /* Modern Browsers */
         url('/fonts/FUTURA65MEDIUM.TTF') format('woff');   /* Legacy Browsers */
    font-weight: 400; /* Font weight 65 corresponds to the standard font weight 400 */
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.ttf') format('woff2'),
         url('/fonts/Helvetica.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Libre-Baskerville';
    src: url('/fonts/LibreBaskerville-Regular.otf') format('woff2'),
         url('/fonts/LibreBaskerville-Regular.otf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/avenir_roman_12.otf') format('woff2'),
         url('/fonts/avenir_roman_12.otf') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* CSS Variables */
:root {
    --black: #1c1c1c;
    --gray: #7E7E7E;
    --gray-light: #E4E4E4;
    --red: #960018;
    --font-size-xs: clamp(0.75rem, 0.5vw + 0.5rem, 1rem);  /* Extra Small */
    --font-size-xxs: clamp(0.625rem, 0.4vw + 0.4rem, 0.875rem);  /* Extra Extra Small */
    --font-size-xxxs: clamp(0.5rem, 0.3vw + 0.3rem, 0.75rem);  /* Extra Extra Extra Small */
    --font-size-sm: clamp(0.875rem, 0.5vw + 0.75rem, 1.25rem);
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxl: clamp(3.05rem, 3vw + 2.25rem, 4.5rem);
    --font-size-xxxl: clamp(3.81rem, 3.8vw + 2.81rem, 5.63rem);
    --border-radius: 10px;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: #EBE9F8;
    margin: 0;
}

a {
    color: var(--black);
}

/* Heading Styles */
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

/* Form Element Styles */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}

/* Button Styles */
.btn {
    background-color: var(--black);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
}

/* Image Styles */
img {
    width: 100%;
    height: auto;
}

/* Container Styles */
.container {
    max-width: 1982px;
    margin: 0 25px;
    padding: 0 10px;
}

/* Main Content Styles */
.main {
    padding: 20px 0;
}

.main-image {
    max-height: 528px;
    filter: drop-shadow(0px 44px 34px rgba(0,0,0,0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F9F9;
    margin-left: -35px;
    margin-right: -35px;
    padding: 10px 35px;
    border-bottom: 1px solid black;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    transform: scale(0.6);
    transform-origin: left;
}

.header__logo img {
    max-height: 80px;
    height: 50%;
    width: 50%;
}

.header__nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8%;
}

.header__nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    font-weight: 600;
    font-family: 'Cormorant Garamond';
}

.header__nav ul li {
    list-style: none;
}

.header__nav ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
}

.header__button {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* Front Section Styles */
.front {
    padding: 5px 0;
    padding-bottom: 15%;
    text-align: center;
}

.front__heading {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #A84E59;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
}

.front__body {
    font-size: var(--font-size-lg);
    color: #1D3671;
    margin: 5px 0 40px 0;
    text-align: left;
    font-family: 'Libre-Baskerville';
}

.front__description {
    font-size: 14;
    margin: 5px 0 40px 0;
    text-align: left;
    margin-right: 50%;
    font-family: 'Cormorant Garamond';
}

/* Articles Section Styles */
.articles {
    background-color: #C2D1E1;
    margin-left: -35px;
    margin-right: -35px;
    padding: 0;
}

.article__heading {
    margin-top: 4rem;
    margin: 35px;
    font-weight: 400;
    font-size: var(--font-size-xxxl);
    font-family: 'Futura Medium 65', sans-serif;
}

.article-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1rem, 2vw, 1.25rem);
    display: flex;
    flex-direction: column;
}

.article-list__date {
    font-size: var(--font-size-base);
    color: var(--gray);
    width: auto;
    display: block;
}

.article-ul li {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
}

.article-ul li:not(:last-child) {
    border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover {
    filter: none;
}

.article-ul:hover li {
    filter: blur(3px);
}

.article-ul:hover li:hover {
    filter: none;
}

/* Article Grid Styles */
.article-grid {
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap onto the next line */
    justify-content: space-between; /* Maintains space between cards */
    padding: 0;
    margin: 35px;
}

.article-card {
    width: 30%; /* Adjust width as needed, here it takes full width */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color from parent */
    background-color: #C2D1E1; /* Match the background to the section color */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid black; /* Thinner black border */
}

.article-thumbnail {
    width: 100%;
    height: 250px; /* Increased height for the image */
    object-fit: cover; /* Ensure the image covers the area */
    display: block;
}

.article-info {
    padding: 15px;
    background-color: transparent; /* Remove background color to match section */
    flex-grow: 1; /* Allow the text to take up the remaining space */
    max-height: 100px; /* Cap the height of the text */
    overflow: hidden; /* Hide overflow content */
}

.article-info h3 {
    margin-top: 0;
    color: var(--black);
    font-size: 1.1rem;
}

.article-info p {
    font-size: var(--font-size-base);
    color: var(--gray);
    margin: 10px 0 0;
    line-height: 1.5; /* Adjust line height for better readability */
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Cap text to 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-line {
    flex-grow: 1;
    color: lightgray;
    margin: 8px 0;
}

.article-view-count {
    font-size: var(--font-size-sm);
    color: var(--gray);
}

/* Load More Button Styles */
#load-more {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: var(--black);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

/* Newsletter Subscription Section Styles */
.newsletter-subscription {
    text-align: center;
    padding: 40px 0;
    background-color: #C2D1E1;
    font-family: 'Avenir';
    margin-left: -35px;
    margin-right: -35px;
}

.form-group {
    position: relative;
    width: 50%; /* Takes up half the width of its container */
    margin: 0 auto; /* Center the form group */
}

.email-label {
    position: absolute;
    left: 0;
    top: -20px; /* Position the label above the input */
    font-size: var(--font-size-xs);
    color: var(--gray);
}

input[type="email"] {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 2px solid black; /* Just an underline */
    background-color: transparent; /* Transparent background */
    color: var(--black);
    font-size: var(--font-size-base);
}

input[type="email"]::placeholder {
    color: transparent; /* Hide placeholder text when not focused */
}

input[type="email"]:focus {
    outline: none;
    border-bottom-color: var(--red); /* Change underline color on focus */
}

input[type="email"]:focus::placeholder {
    color: var(--gray-light); /* Show placeholder text only when input is focused */
}

button[type="submit"] {
    padding: 10px 20px;
    border-radius: var(--border-radius);
    background-color: var(--black);
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

/* Pagination Link Styles */
.pagination {
    font-size: 1.3rem;
    color: var(--gray);
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}

.pagination:hover {
    color: var(--black);
}

/* Footer Styles */
.footer {
    margin: 4rem;
    text-align: center;
}

/* Dashboard Admin Area Styles */
.admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-posts {
    padding: 0;
    margin: 0;
}

.admin-post-controls form {
    display: inline-block;
}

.admin-post-controls .btn  {
    display: inline-block;
    background-color: var(--black);
    color: var(--gray-light);
    border: 0;
    text-decoration: none;
    font-size: .8rem;
    padding: 4px 8px;
    line-height: 2;
}

.admin-posts li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

/* Search Bar Styles */
.searchBar {
    visibility: hidden;
    transform: translateY(-100px);
    background-color: var(--black);
    padding: 8px 10px;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.searchBar.open {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.searchBar input:focus {
    border-color: var(--primary);
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
}

.searchBar input:hover {
    background-color: #f8f9fa;
}

.searchBar input {
    flex: 1;
    margin: 0 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchClose {
    cursor: pointer;
    color: var(--white);
    font-size: 24px;
    padding: 10px;
}

/* Content Wrapper Styles */
.content-wrapper {
    display: flex;
    justify-content: space-between; /* This spaces out the child elements across the main axis */
    align-items: center; /* This centers the items vertically */
}

/* Aligned Image Styles */
.aligned-image {
    max-width: 50%; /* Limits the width of the image */
    height: auto; /* Maintains aspect ratio */
}

img.aligned-image {
    width: 100%;
    height: auto;
}

/* Meet the Authors Section Styles */
.meet-the-authors {
    text-align: center;
    padding: 40px 0;
    background-color: #f8f9fa;
}

.underline {
    width: 50px;
    height: 4px;
    background-color: #333;
    margin: 10px auto 20px;
}

.authors-description {
    margin-bottom: 20px;
    color: #666;
    font-size: 1rem;
    text-align: center;
}

.meet-the-authors .container {
    max-width: 800px;
    margin: 0 auto; /* Center the container */
    padding: 20px;
    text-align: center;
}

.authors-container {
    display: flex;
    justify-content: space-around; /* Evenly spaces the author cards */
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    gap: 20px; /* Provides space between the flex items */
}

.author-card {
    flex: 1 1 45%; /* Flex grow, shrink, and basis - occupies 45% of the container's width */
    margin: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 300px; /* Limits the maximum width of the cards */
    box-sizing: border-box; /* Includes padding and border in the width */
    text-align: left; /* Aligns text to the left inside the card */
}

.author-card h3, .author-card p {
    text-align: left; /* Ensure that the text alignment is explicitly set to left for headings and paragraphs */
}

.author-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
    display: block; /* Centers the image within the card, you can align it to the left if preferred */
}

.social-links {
    text-align: left; /* Aligns social links to the left */
    padding: 0;
}

.btn-social {
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .header__nav {
        order: 2;
        width: 100%;
        justify-content: center;
        margin-right: 0;
    }

    .header__button {
        order: 3;
        margin-top: 10px;
    }

    .header__logo {
        order: 1;
        margin-bottom: 10px;
    }

    .form-group {
        width: 100%; /* Full width on smaller screens */
    }

    .article-grid {
        flex-direction: column;
        justify-content: center;
        margin: 35px 10px; /* Adjust margin to reduce horizontal spacing */
    }

    .article-card {
        width: 100%; /* Each card takes full width */
        padding-top: 56.25%; /* Adjust padding to maintain aspect ratio more suitable for full width */
    }

    .author-card {
        flex-basis: 100%; /* Makes each card take full width on small screens */
    }

    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "logo menu button";
    }

    .article-ul li a{
        flex-direction: row;
        align-items: center;
    }

    .article-list__date {
        text-align: left;
    }
}

/* Blog Page Specific Styles */
.blog-page .articles {
    background-color: #EBE9F8;
    padding: 0;
    text-align: center;
    margin-left: 2%; /* Shift the container to the right by 5% */
}

.blog-page .article__heading {
    margin-top: 4rem;
    margin: 35px;
    font-weight: 400;
    font-size: var(--font-size-xxxl);
    font-family: 'Futura Medium 65', sans-serif;
}

.blog-page .article-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;
    margin: 35px auto;
    max-width: 1400px; /* Increased max-width for wider boxes */
    justify-content: center; /* Center the grid */
}

.blog-page .article-card {
    width: 100%; /* Ensure full width for each card */
    display: flex; /* Use flexbox for layout */
    flex-direction: row; /* Image and text side by side */
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color from parent */
    background-color: #C2D1E1; /* Match the background to the section color */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid black; /* Thinner black border */
}

.blog-page .article-thumbnail {
    width: 40%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the area */
    display: block;
}

.blog-page .article-info {
    padding: 15px;
    background-color: transparent; /* Remove background color to match section */
    flex-grow: 1; /* Allow the text to take up the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-page .article-info h3 {
    margin-top: 0;
    color: var(--black);
    font-size: 1.1rem;
}

.blog-page .article-info p {
    font-size: var(--font-size-base);
    color: var(--gray);
    margin: 10px 0 0;
    line-height: 1.5; /* Adjust line height for better readability */
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-page .article-details {
    margin-top: 10px;
}

.blog-page .article-view-count {
    font-size: var(--font-size-sm);
    color: var(--gray);
}

/* Load More Button Styles */
.blog-page #load-more {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: var(--black);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

/* Responsive Adjustments for Blog Page */
@media (max-width: 768px) {
    .blog-page .article-grid {
        grid-template-columns: 1fr; /* One column on smaller screens */
        margin: 35px 10px; /* Adjust margin to reduce horizontal spacing */
    }

    .blog-page .article-card {
        flex-direction: column; /* Stack image and text vertically */
        padding-top: 56.25%; /* Adjust padding to maintain aspect ratio more suitable for full width */
    }

    .blog-page .article-thumbnail {
        width: 100%; /* Full width image */
        height: auto; /* Maintain aspect ratio */
    }
}
