/* Basic font import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nimbus+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Futura Medium 65';
    src: url('/fonts/FUTURA65MEDIUM.TTF') format('woff2'), /* Modern Browsers */
         url('/fonts/FUTURA65MEDIUM.TTF') format('woff');   /* Legacy Browsers */
    font-weight: 400; /* Font weight 65 corresponds to the standard font weight 400 */
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url(/fonts/Helvetica.ttf) format('woff2'),
         url(/fonts/Helvetica.ttf) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Libre-Baskerville';
    src: url(/fonts/LibreBaskerville-Regular.otf) format('woff2'),
         url(/fonts/LibreBaskerville-Regular.otf) format('woff');
    font-weight: 400;
    font-style: normal;
}


/* CSS Variables for colors, font sizes, and border radius for reusability and easier maintenance */
:root {
    --black: #1c1c1c;
    --gray: #7E7E7E;
    --gray-light: #E4E4E4;
    --red: #960018;
    --font-size-sm: clamp(0.875rem, 0.5vw + 0.75rem, 1.25rem);
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxl: clamp(3.05rem, 3vw + 2.25rem, 4.5rem);
    --font-size-xxxl: clamp(3.81rem, 3.8vw + 2.81rem, 5.63rem);
    --border-radius: 10px;
}

/* Body styling sets the base font, color, background, and removes margin */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: #EBE9F8;
    margin: 0;
}

/* Styling links with a default color */
a { color: var(--black); }

/* Setting specific font sizes for heading levels using CSS variables */
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

/* Uniform styling for various form elements */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}

/* Button styling for general and delete actions */
.btn {
    background-color: var(--black);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
}

/* Image styling to make them responsive */
img {
    width: 100%;
    height: auto;
}

/* Container for central alignment and padding */
.container {
    max-width: 1982px;
    margin: 0 25px;
    padding: 0 10px;
}

/* Main content area padding */
.main {
    padding: 20px 0;
}

/* Styling for a prominent image with drop-shadow */
.main-image {
    max-height: 528px;
    filter: drop-shadow(0px 44px 34px rgba(0,0,0,0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
}

/* Grid layout for header with responsive adjustments */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas:
    "logo button"
    "menu menu";
    background-color: #F9F9F9;
    margin: 0 -35px;
    border-bottom: 1px solid black;
}

@media only screen and (min-width: 768px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "logo menu button";
    }
}

/* Styling for logo in the header, including hover effects */
.header__logo {
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    text-indent: 3%;
}

.header__logo:hover {
    text-decoration: underline;
}

/* Navigation styling within the header */
.header__nav{
    grid-area: menu;
    display: flex;
    justify-content: center;
}

.header__button{
    grid-area: button;
    display: flex;
    justify-content: end;
}

.header__button button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--black);
}

.header__button button:hover {
    border: 2px solid var(--black);
}

/* More navigation and interactivity styling, including hover and active states */
.header__nav ul {
    list-style-type: none; 
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
}

.header__nav ul a {
    padding: 10px;
    text-decoration: none;
}

.header__nav ul a:hover {
    text-decoration: underline;
}

.header__nav ul a.active {
    color: var(--gray);
}

/* Styling for front section */
.front {
    padding: 5px 0;
    text-align: center;
}

.front__heading {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #A84E59;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
}


.front__body {
    font-size: var(--font-size-lg);
    color: #1D3671;
    margin: 5px 0 40px 0;
    text-align: left;
    font-family: 'Libre-Baskerville';
}

.front__description {
    font-size: 14;
    margin: 5px 0 40px 0;
    text-align: left;
    margin-right: 50%;
    font-family: 'Cormorant Garamond';
}

/* List styling for articles, including responsive layout adjustments */
.articles {
    background-color: #C2D1E1;
    margin: 0;
}

.article__heading {
    margin-top: 4rem;
    font-weight: 400;
    font-size: var(--font-size-xxxl);
    font-family: 'Futura Medium 65', sans-serif;
}

.article-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    display: flex;
    flex-direction: column;
}

.article-list__date {
    font-size: var(--font-size-base);
    color: var(--gray);
    width: 260px;
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    .article-ul li a{
        flex-direction: row;
        align-items: center;
    }

    .article-list__date {
        text-align: right;
    }
}

.article-ul li {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
}

.article-ul li:not(:last-child) {
    border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover {
    filter: none;
}

.article-ul:hover li {
    filter: blur(3px);
}

.article-ul:hover li:hover {
    filter: none;
}

.newsletter-subscription {
    background-color: #C2D1E1;
}

/* Pagination link styling */
.pagination {
    font-size: 1.3rem;
    color: var(--gray);
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}

.pagination:hover {
    color: var(--black);
}

.article {
    white-space: pre-wrap;
}

/* Footer styling */
.footer {
    margin: 4rem;
    text-align: center;
}

/* Dashboard admin area styling for post management */
.admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .admin-posts {
    padding: 0;
    margin: 0;
  }
  
  .admin-post-controls form {
    display: inline-block;
  }
  
  .admin-post-controls .btn  {
    display: inline-block;
    background-color: var(--black);
    color: var(--gray-light);
    border: 0;
    text-decoration: none;
    font-size: .8rem;
    padding: 4px 8px;
    line-height: 2;
  }
  
  .admin-posts li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

/* SearchBar hidden by default and appears with transition */
.searchBar {
    visibility: hidden;
    transform: translateY(-100px);
    background-color: var(--black);
    padding: 8px 10px;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.searchBar.open {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.searchBar input:focus {
    border-color: var(--primary);
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
}

.searchBar input:hover {
    background-color: #f8f9fa;
}


.searchBar input {
    flex: 1;
    margin: 0 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchClose {
    cursor: pointer;
    color: var(--white);
    font-size: 24px;
    padding: 10px;
}


/* Additional styles for the content wrapper */
.content-wrapper {
    display: flex;
    justify-content: space-between; /* This spaces out the child elements across the main axis */
    align-items: center; /* This centers the items vertically */
}
/*
.author {
    max-width: 50%; /* Limits the width of the text block 
}
*/
.aligned-image {
    max-width: 50%; /* Limits the width of the image */
    height: auto; /* Maintains aspect ratio */
}

/* Ensure that the images don't stretch beyond their natural size but fill their container */
img.aligned-image {
    width: 100%;
    height: auto;
}

.article-grid {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.article-card {
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.article-thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Ensures the image covers the area without being stretched */
}

.article-info {
    padding: 15px;
    background: white;
}

.article-info h3 {
    margin-top: 0;
    color: var(--black);
    font-size: 1.1rem;
}

.article-info p {
    font-size: var(--font-size-base);
    color: var(--gray);
    margin: 10px 0 0;
}

.meet-the-authors {
    text-align: center;
    padding: 40px 0;
    background-color: #f8f9fa;
}

.underline {
    width: 50px;
    height: 4px;
    background-color: #333;
    margin: 10px auto 20px;
}

.authors-description {
    margin-bottom: 20px;
    color: #666;
    font-size: 1rem;
    text-align: center;
}

/* Container for the Meet the Authors section */
.meet-the-authors .container {
    max-width: 800px;
    margin: 0 auto; /* Center the container */
    padding: 20px;
    text-align: center;
}

/* Flex container to hold author cards */
.authors-container {
    display: flex;
    justify-content: space-around; /* Evenly spaces the author cards */
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    gap: 20px; /* Provides space between the flex items */
}

/* Individual author cards */
.author-card {
    flex: 1 1 45%; /* Flex grow, shrink, and basis - occupies 45% of the container's width */
    margin: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 300px; /* Limits the maximum width of the cards */
    box-sizing: border-box; /* Includes padding and border in the width */
    text-align: left; /* Aligns text to the left inside the card */
}

.author-card h3, .author-card p {
    text-align: left; /* Ensure that the text alignment is explicitly set to left for headings and paragraphs */
}

.author-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
    display: block; /* Centers the image within the card, you can align it to the left if preferred */
}

.social-links {
    text-align: left; /* Aligns social links to the left */
    padding: 0;
}

.btn-social {
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}


/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    .author-card {
        flex-basis: 100%; /* Makes each card take full width on small screens */
    }
}
